{erl_opts, [debug_info, warnings_as_errors]}.
{extra_src_dirs, ["bench"]}.

{deps, [
    {ranch, "2.1.0"},
    {cowboy, "2.10.0"}
]}.

{pre_hooks, [
    {compile, "make native"}
]}.

{ct_opts, [
    {sys_config, []},
    {logdir, "_build/test/logs"}
]}.

{cover_enabled, true}.
{cover_opts, [verbose]}.

{profiles, [
    {test, [
        {erl_opts, [debug_info]},
        {ct_opts, [
            {sys_config, []},
            {logdir, "_build/test/logs"}
        ]}
    ]}
]}.
